@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  /* background: #e8e4d4; */
  margin: 0;
  font-family: 'Poppins';
  /* font-family: 'Roboto'; */
  font-size: 1.5em;  
}
.test{
  background-color: red;
  width: 50px;
  height: 50px;
}
.layout {
  min-height: 100vh;
  display: flex;
  background-color: #f3f4f6;
  flex-direction: column;
}
/* Header */
header {
  /* background: #e8e4d4; */
  /* background-color: #6eda9b; */
  background-color: #9DC183;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 30px 20px;
  position: relative;
  transition: 0.2s ease-in;
}
header a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  display: inline-block;
}
header .logoHeaderContainer{
  position: relative;
  width: 225px;
  height: 100px;
  cursor: pointer;
}
header h1, header h2, header h3 {
  margin: 0;
  display: block;
  line-height: 1em;
  color: white;
  text-align: right;
}
header h3 {
  font-size: 1.2em;
  font-weight: 400;
}
header h1 {
  font-size: 1.4em;
  font-weight: 800;
}
header h2 {
  font-size: 0.9em;
  font-weight: 400;
}
.searchContainer{
  margin-top: 15px;
}
.searchInput {
  width: 500px !important;
  padding: 16px 24px;
  transition: transform 250ms ease-in-out;
  font-size: 14px;
  line-height: 18px;
  z-index: 12;
  /* background-color: #9DC183; */
  color: #575756;
  border-radius: 5px;
  transition: all 250ms ease-in-out;
}
.searchInput:focus, .searchInput.active:focus {
  outline: none;
}
.searchFeatureLayout{
  width: 500px;
  background-color: white;
  z-index: 1000;
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 0;
  border-radius: 0 0 10px 10px;
}
.searchClose{
  position: absolute;
  right: 35%;
  top: 35px;
  color: red;
  font-weight: 900;
}
.searchFeatureContentContainer{
  z-index: 11;
  width: 100%;
  height: 100%;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.viewMore{
  position: relative;
  bottom: 1px;
  left: 1px;
  margin-top: 20px;
  font-size: 14px;
  z-index: 95;
  cursor: pointer;
  color: #000;
}
.profileBtn {
  appearance: none;
  background-color: #9DC183;
  border-width: 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  border-radius: 15px;
  padding: 1.2em 2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}
.profileBtn:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #ffedb6;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}
.profileBtn:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}
.profileBtn:after {
  background-color: #FFFFFF;
}

.profileBtn:hover {
  color: #000;
}
.profileBtn:hover span {
  z-index: 2;
  transition: 0.3s;
  position: relative;
  color: #000;
}
@media (max-width: 850px) {
  header .logoHeaderContainer{
    width: 210px;
    height: 100px;
  }
  .searchInput, .searchFeatureLayout{
    width: 450px !important;
  }
}
@media (max-width: 650px) {
  header {
    flex-direction: column;
  }
  header .logoHeaderContainer{
    width: 210px;
    height: 95px;
  }
  .searchInput, .searchFeatureLayout{
    width: 380px !important;
  }
}
@media (max-width: 470px) {
  header .logoHeaderContainer{
    width: 190px;
    height: 85px;
  }
  .searchInput, .searchFeatureLayout{
    padding: 10px 18px;
    width: 280px !important;
  }
}
/* Homepage Features */
.featuredContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  height: 500px;
  padding: 20px;
}
.feature{
  margin: auto;
  width: 300px;
  height: 375px;
  position: relative;
  transition: 0.3s;
  /* border: 1px solid #000; */
  /* background-color: #fecbc4; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  cursor: pointer;
  overflow: visible !important;
}
.featureImage{
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 5px;
}
.featureImage img{
  width: 300px;
  height: 375px;
  object-fit: cover;
}
.feature-text{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 80%;
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translate(-50%);
}
.feature-text h2 {
  background-color: #ffedb6;
  display: inline-block;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid #cacaca;
}
@media (max-width: 950px) {
  .featuredContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1em;
    padding: 20px;
    height: 900px;
  }
  .feature{
    width: 280px;
    height: 350px;
  }
}
@media (max-width: 600px) {
  .featuredContainer {
    grid-template-columns: repeat(1, 1fr);
    height: 1250px;
  }
  .feature{
    width: 270px;
    height: 330px;
  }
}
/* Homepage Recipe Highlight */
.homepageRecipes{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 0.7em;
  grid-row-gap: 0.7em;
  padding: 10px;
  margin: auto;
  font-family: Montserrat;
}
.homepageCard{
  margin: auto;
  border-radius: 5px;
  width: 565px;
  height: 225px;
  display: flex;
  background-color:#ffedb6;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
  border: 1px solid rgba(71, 71, 71, 0.1);
}
.homepageCardImage{
  width: 226px;
  height: 100%;
  position: relative;
}
.homepageCardImage img{
  height: 100%;
  width: 226px;
  object-fit: cover;
}
.homepageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 16px;
  width: 339px;
}
.homepageContent p{
  color: #f14400;
  text-decoration: underline;
  margin: 0 0 0 12px;
  align-self: flex-start;
  font-size: 12px;
}
.homepageContent h1{
  font-size: 18px;
  font-weight: 600;
}
.homepageContent h4{
  font-size: 12px;
  font-weight: 500;
}
.homepageButton {
  align-items: center;
  border-radius: 4px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 1px -2px,rgba(0, 0, 0, .14) 0 2px 2px 0,rgba(0, 0, 0, .12) 0 1px 5px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 10px;
  font-weight: 500;
  height: 28px;
  justify-content: center;
  letter-spacing: .09em;
  line-height: normal;
  min-width: 54px;
  outline: none;
  overflow: visible;
  padding: 0 12px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  vertical-align: middle;
  background-color: #9DC183;
}
.homepageButton:hover {
  box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}
.homepageButton:focus {
  box-shadow: rgba(0, 0, 0, .2) 0 2px 4px -1px, rgba(0, 0, 0, .14) 0 4px 5px 0, rgba(0, 0, 0, .12) 0 1px 10px 0;
}
.homepageButton:active {
  box-shadow: rgba(0, 0, 0, .2) 0 5px 5px -3px, rgba(0, 0, 0, .14) 0 8px 10px 1px, rgba(0, 0, 0, .12) 0 3px 14px 2px;
  background: #c3e2ad;
}
@media screen and (max-width: 1150px) {
  .homepageCard {
    width: 465px;
    height: 195px;
  }
  .homepageCardImage{
    width: 186px;
  }
  .homepageCardImage img{
    width: 186px;
  }
  .homepageContent p{
    font-size: 10px;
  }
  .homepageContent h1{
    font-size: 14px;
    font-weight: 600;
  }
  .homepageContent h4{
    font-size: 10px;
    font-weight: 500;
  }
  .homepageButton {
    height: 24px;
  }
}
@media screen and (max-width: 950px) {
  .homepageRecipes {
    grid-template-columns: repeat(1, 1fr);
  }
  .homepageCard {
    width: 680px;
    height: 250px;
  }
  .homepageCardImage{
    width: 272px;
  }
  .homepageCardImage img{
    width: 272px;
  }
  .homepageContent{
    width: 408px;
    padding: 16px;
  }
  .homepageContent p{
    font-size: 12px;
  }
  .homepageContent h1{
    font-size: 18px;
  }
  .homepageContent h4{
    font-size: 12px;
  }
  .homepageButton {
    height: 28px;
  }
}
@media screen and (max-width: 690px) {
  .homepageCard {
    width: 490px;
    height: 200px;
  }
  .homepageCardImage{
    width: 196px;
  }
  .homepageCardImage img{
    width: 196px;
  }
  .homepageContent{
    width: 294px;
    padding: 10px;
  }
  .homepageContent p{
    font-size: 9px;
  }
  .homepageContent h1{
    font-size: 13px;
  }
  .homepageContent h4{
    font-size: 11px;
  }
  .homepageButton {
    height: 20px;
    letter-spacing: .09em;
    min-width: 30px;
    padding: 0 10px;
  }
}
@media screen and (max-width: 500px) {
  .homepageCard{
    width: 310px;
    height: 425px;
    flex-direction: column;
  }
  .homepageCardImage{
    width: 100%;
    height: 260px;
  }
  .homepageCardImage img{
    width: 100%;
    height: 260px;
  }
  .homepageContent{
    width: 100%;
    height: 165px;
    padding: 8px;
  }
  .homepageContent p{
    font-size: 10px;
  }
  .homepageContent h1{
    font-size: 14px;
    font-weight: 600;
  }
  .homepageContent h4{
    font-size: 10px;
    font-weight: 500;
  }
  .homepageButton {
    font-size: 10px;
    font-weight: 500;
    height: 22px;
    letter-spacing: .09em;
    min-width: 30px;
    padding: 0 10px;
  }
}
/* Homepage catagories */
.catagory{
  height: 200px;
  overflow-y: hidden;
  border: 1px rgba(176, 179, 184, 0.6) solid;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.catagory:hover{
  transition: 0.3s;
  cursor: pointer;
  background-color: #e8e4d4;
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
  border: 1px solid rgba(71, 71, 71, 0.1);
}
@media screen and (max-width: 1350px) {
  .catagory{
    height: 180px;
    margin: 10px;
  }
}
/* Catagory pages */
.categoryContainer{
  font-family: Montserrat;
  max-height: 10000px;
  width: 100%;
  text-align: center;
}
.catagoryTitle{
  font-size: 48px;
  font-weight: 800;
  margin-top: 20px;
  text-align: center;
}
.categoryMainRecipe{
  width: 900px;
  height: 400px;
  border-radius: 5px;
  margin: 30px auto 50px auto;
  background-color: #fecbc4;
  border: 1px solid rgba(211, 211, 211, 0.35);
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;
  display: flex;
  cursor: pointer;
}
.categoryMainRecipeImage{
  position: relative;
  width: 450px;
  height: 100%;
}
.categoryMainRecipeText{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 450px;
  padding: 50px;
  height: 100%;
  text-align: center;
}
.categoryMainRecipeText h1{
  font-size: 22px;
  font-weight: 600;
}
.categoryMainRecipeText h3{
  font-size: 15px;
}
.categoryMainRecipeText p{
  font-size: 13px;
}
.categoryRecipesHead{
  width: 90vw;
  position: relative;
  margin: 0 auto;
}
.categoryRecipesHead h1{
  position: relative;
  text-align: left;
  color: #000;
  font-size: 24px;
  font-weight: 400;
}
.categoryGridRecipes{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.categoryRecipe{
  margin: auto;
  align-self: center;
  cursor: pointer;
  width: 235px;
  height: 340px;
  transition: 0.2s;
}
.catagoryRecipe:hover{
  margin-bottom: 10px;
}
.categoryRecipeImage{
  width: 100%;
  height: 60%;
  position: relative;
}
.categoryRecipeText{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8px;
  height: 40%;
}
.categoryRecipeText h1{
  font-size: 20px;
  font-weight: 600;
}
.categoryRecipeText h5{
  font-size: 11px;
}
.categoryRecipeText p{
  font-size: 13px;
}
.line{
  width: 100%;
  height: 1px;
  background-color: #6d6d6d;
}
@media (max-width: 950px) {
  .catagoryTitle{
    font-size: 36px;
  }
  .categoryMainRecipe{
    width: 630px;
    height: 300px;
  }
  .categoryMainRecipeImage{
    position: relative;
    width: 315px;
    height: 100%;
  }
  .categoryMainRecipeText{
    width: 315px;
    padding: 15px;
  }
  .categoryMainRecipeText h1{
    font-size: 18px;
  }
  .categoryMainRecipeText h3{
    font-size: 13px;
  }
  .categoryMainRecipeText p{
    font-size: 11px;
  }
  .categoryGridRecipes{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    /* height: 950px; */
  }
  .categoryRecipe{
    width: 200px;
    height: 300px;
  }
  .categoryRecipeText{
    padding: 5px;
  }
  .categoryRecipeText h1{
    font-size: 15px;
  }
  .categoryRecipeText h5{
    font-size: 9px;
  }
  .categoryRecipeText p{
    font-size: 11px;
  }
}
@media (max-width: 650px) {
  .categoryMainRecipe{
    width: 460px;
    height: 275px;
  }
  .categoryMainRecipeImage{
    width: 230px;
    height: 100%;
  }
  .categoryMainRecipeText{
    width: 230px;
    padding: 8px;
  }
  .categoryMainRecipeText h1{
    font-size: 14px;
  }
  .categoryMainRecipeText h3{
    font-size: 11px;
    font-weight: 500;
  }
  .categoryMainRecipeText p{
    font-size: 9px;
  }
  .categoryGridRecipes{
    height: 1575px;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
  }
  .categoryRecipe{
    width: 220px;
    height: 320px;
  }
  .categoryRecipeText{
    padding: 3px;
  }
  .categoryRecipeText h1{
    font-size: 14px;
  }
  .categoryRecipeText h5{
    font-size: 7px;
  }
  .categoryRecipeText p{
    font-size: 10px;
  }
}
@media (max-width: 475px) {
  .catagoryTitle{
    font-size: 32px;
  }
  .categoryMainRecipe{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 500px;
  }
  .categoryMainRecipeImage{
    width: 100%;
    height: 300px;
  }
  .categoryMainRecipeText{
    width: 100%;
    height: 200px;
  }
  .categoryMainRecipeText h1{
    font-size: 18px;
  }
  .categoryMainRecipeText h3{
    font-size: 12px;
  }
  .categoryMainRecipeText p{
    font-size: 10px;
  }
  .categoryGridRecipes{
    height: 2675px;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1em; 
  }
  .categoryRecipe{
    width: 315px;
    height: 420px;
  }
  .categoryRecipeText{
    padding: 3px;
    align-items: center;
    margin: auto;
    text-align: center;
  }
  .categoryRecipeText h1{
    font-size: 16px;
  }
  .categoryRecipeText h5{
    font-size: 10px;
  }
  .categoryRecipeText p{
    font-size: 12px;
  }
}
@media (max-width: 420px) {
  .categoryMainRecipe{
    width: 314px;
    height: 450px;
  }
  .categoryMainRecipeImage{
    width: 100%;
    height: 320px;
  }
  .categoryMainRecipeText{
    width: 100%;
    height: 180px;
  }
  .categoryMainRecipeText h1{
    font-size: 15px;
  }
  .categoryMainRecipeText h3{
    font-size: 10px;
  }
  .categoryMainRecipeText p{
    font-size: 9px;
  }
}
/* Recipe Page */
.recipeHeadlineContainer{
  width: 97%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1em;
  padding: 22px;
  height: 575px;
}
.recipePageImageContainer{
  display: flex;
  position: relative;
}
.recipePageImageContainer h2 {
  margin: 0;
  background: #fff;
  display: inline-block;
  padding: 20px;
  position: absolute;
  text-transform: uppercase;
  bottom: 0px;
  left: -10px;
  transform: rotateZ(-1deg);
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.recipeInfo{
  padding: 35px;
  background-color: #efece2;
  font-size: 18px;
  display: flex;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}
.recipeInfo p {
  margin: 0;
}
.recipeCookingInfo{
  height: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.recipeLineBreak{
  width: 100%;
  height: 5px;
  margin-top: 40px;
  background-color: #000;
}
.recipeInformationContainer{
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  min-height: 500px;
}
.recipeMethodContainer h3,
.recipeInformationIngredients h3{
  margin: 20px 0px 20px 0;
  text-transform: uppercase;
}
.recipeInformationIngredients{
  padding: 5px;
  width: 33%;
}
.recipeInformationIngredients ul{
  margin-top: 45px;
}
.recipeInformationIngredients ul li{
  display: flex;
  flex-direction: column;
  margin-top: 0.75em;
  font-weight: 500;
  font-size: 18px;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}
.recipeMethodContainer{
  width: 64%;
}
.recipeMethodContainer ul{
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  padding: 0 50px;
}
.recipeMethodContainer ul li{
  margin-top: 25px;
}
.recipeSimilarTitle{
  position: relative;
  left: 5px;
  top: 35px;
  font-size: 18px;
}
.recipeSimilarRecipeContainer{
  margin-top: 40px;
  padding: 20px;
  width: 100%;
  height: 320px;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  grid-gap: 1em;
}
.recipeSimilarRecipe{
  height: 100%;
  background-color: beige;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
}
.recipeSimilarDetails{
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.recipeSimilarDetails h4{
  font-size: 18px;
}
.recipeSimilarDetails p{
  font-size: 16px;
}
@media (max-width:900px){
  .recipeHeadlineContainer{
    height: 470px;
  }
  .recipePageImageContainer h2{
    font-size: 16px;
    font-weight: 600;
  }
  .recipeInfo{
    padding: 20px;
    font-size: 16px;
  }
  .recipeCookingInfo{
    font-size: 14px;
  }
  .recipeMethodContainer h3,
  .recipeInformationIngredients h3{
    font-size: 20px;
  }
  .recipeInformationIngredients ul li{
    font-size: 16px;
  }
  .recipeMethodContainer ul{
    min-height: 700px;
    font-size: 18px;
  }
  .recipeSimilarRecipeContainer{
    height: 350px;
  }
  .recipeSimilarRecipe{
    width: 100%;
  }
  .recipeSimilarDetails{
    margin-left: 15px;
  }
  .recipeSimilarDetails p{
    font-size: 18px;
  }
}
@media (max-width:650px){
  .recipeHeadlineContainer{
    padding: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    height: 675px;
    width: 475px;
    align-items: center;
  }
  .recipeInfo{
    font-size: 14px;
    padding: 10px;
  }
  .recipeCookingInfo{
    margin-top: 8px;
    font-size: 12px;
  }
  .recipeMethodContainer h3,
  .recipeInformationIngredients h3{
    font-size: 18px;
  }
  .recipeInformationIngredients ul li{
    font-size: 14px;
  }
  .recipeMethodContainer ul{
    font-size: 16px;
    padding: 0 25px;
  }
  .recipeSimilarRecipeContainer{
    height: 650px;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
  }
}
@media (max-width:525px){
  .recipeHeadlineContainer{
    grid-template-columns: 1fr;
    grid-template-rows: 0.8fr;
    height: 650px;
    width: 370px;
  }
  .recipePageImageContainer h2{
    padding: 10px;
    font-size: 18px;
    left: 4px;
    transform: rotateZ(358deg);
  }
  .recipeInfo{
    padding: 5px;
    font-size: 14px;
  }
  .recipeCookingInfo{
    font-size: 12px;
  }
  .recipeInformationContainer{
    flex-direction: column;
  }
  .recipeInformationIngredients,
  .recipeMethodContainer{
    width: 100%;
    padding: 20px;
  }
}
@media (max-width:350px) {
  .recipeMethodContainer ul li{
    margin-top: 50px;
  }
}
/* Recipe Search */
.searchedContainer{
  width: 100%;
  padding: 0 15px 0 15px;
  text-align: center;
  font-family: Montserrat;
}
.searchedContainer h1{
  position: relative;
  color: #00a2d3;
  font-size: 48px;
  font-weight: 800;
}
.searchedContainer h3{
  margin: 20px 150px;
}
.searchedRecipesHead{
  width: 100%;
  position: relative;
  margin: auto;
}
.searchedRecipesHead h1{
  position: relative;
  text-align: left;
  color: #000;
  font-size: 24px;
  font-weight: 400;
}
.searchedRecipes{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.searchedRecipe{
  margin: auto;
  align-self: center;
  cursor: pointer;
  width: 240px;
  height: 340px;
  transition: 0.2s;
}
.searchedRecipe:hover{
  margin-bottom: 10px;
}
.searchedRecipeImage{
  position: relative;
  width: 100%;
  height: 60%;
}
.searchedRecipeText{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: 8px 0;
  height: 40%;
}
.searchedRecipeText h5{
  font-size: 15px;
  color: #bebebe;
}
.searchedRecipeText h1{
  color: #000;
  text-align: left;
  font-size: 18px;
}
.searchedRecipeText h1:hover{
  text-decoration: underline;
}
.searchedRecipeTime{  
  display: flex;
}
.searchedRecipeTime p{
  font-size: 14px;
}
.searchedRecipeTimeLine{
  height: 22px;
  width: 1px;
  margin: 0 7px;
  background-color: #000;
}
@media (max-width:1000px) {
  .searchedRecipes{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .searchedRecipe{
    margin-bottom: 25px;
  }
}
@media (max-width:750px) {
  .searchedRecipes{
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width:515px) {
  .searchedRecipes{
    grid-template-columns: 1fr;
  }
  .searchedRecipe{
    width: 325px;
    height: 425px;
  }
  .searchedRecipeText h5{
    font-size: 18px;
  }
  .searchedRecipeText h1{
    font-size: 22px;    
  }
  .searchedRecipeTime p{
    font-size: 18px;
  }
}
/* Contact */
.contactContainer{
  width: 100%;
  text-align: center;
}
.contactContainer h1{
  position: relative;
  color: #00a2d3;
  font-size: 48px;
  font-weight: 800;
}
.contactContainer h3{
  margin: 20px 150px;
}
/* Sponsered */
.sponseredContainer{
  width: 100%;
  text-align: center;
}
.sponseredContainer h1{
  position: relative;
  color: #00a2d3;
  font-size: 48px;
  font-weight: 800;
}
.sponseredContainer h3{
  margin: 20px 150px;
}
/* Resources Page */
.resourcesContainer{
  width: 100%;
  text-align: center;
}
.resourcesContainer h1{
  position: relative;
  color: #00a2d3;
  font-size: 48px;
  font-weight: 800;
}
.resourcesContainer h3{
  margin: 20px 150px;
}
/* About us */
.aboutUsContainer{
  width: 100%;
  text-align: center;
}
.aboutUsContainer h1{
  position: relative;
  color: #00a2d3;
  font-size: 48px;
  font-weight: 800;
}
.aboutUsContainer h3{
  margin: 20px 150px;
}
.aboutUsMain{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 80px 0;
}
.aboutUsPhoto{
  width: 40%;
  position: relative;
}
.aboutUsText{
  width: 50%;
  position: relative;
  font-size: 18px;

}
.aboutUsMainTwo{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 80px 0;
}
.aboutUsPhotoTwo{
  width: 40%;
  position: relative;
}
.aboutUsTextTwo{
  width: 50%;
  position: relative;
  font-size: 18px;
}
.aboutUsGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2em; 
  margin: 100px;
  text-align: center;
}
.aboutUsGrid h5{
  font-size: 18px;
  margin: 25px;
  font-weight: 700;
  color: tomato;
}
/* Footer */
footer {
  background: #111;
  color: #bbb;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  margin-top: auto;
  width: 100%;
}
.footerInfoContainer{
  width: 92%;
  margin: auto;
  display: grid; 
  grid-template-columns: 0.5fr 1fr 1fr 1fr; 
}
.footerInfoImg{
  position: relative;
  width: 170px;
  height: 80px;
}
.footerInfo{
  position: relative;
  display: flex;
  flex-direction: column;
}
.footerEmailList{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.footerEmailList h3{
  font-size: 20px;
}
.horizontalLine{
  width: 80%;
  background-color: burlywood;
  height: 2px;
  margin: 15px auto;
}
.footerSocialsContainer{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  height: 50px;
  margin: 5px auto;
}
@media (max-width:900px) {
  .footerInfo ul, .footerEmailList h3{
    font-size: 12px;
  }
  .footerInfoImg{
    width: 125px;
    height: 60px;
  }
}
@media (max-width:500px) {
  .footerInfoContainer{ 
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 250px;
  }
  footer p{
    font-size: 14px;
  }
}
.page-content {
  max-width: 1350px;
  margin: 20px auto 80px;
  /* max-height: 10000px; */
  width: 100%;
  box-sizing: border-box;
  /* background-color: #ede6d6; */
}
/* width */
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  @apply bg-vapta-red cursor-pointer;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-vapta-red-hover;
}

#body {
  @apply max-w-full overflow-x-hidden;
}

.button {
  @apply block border border-gray-700 flex font-medium items-center justify-center px-4 py-2 rounded text-gray-600 text-xs whitespace-nowrap;

  &:hover {
    @apply bg-gray-700 text-white;
  }

  &.button-add {
    @apply bg-green-500 border-green-500 text-white;

    &:hover {
      @apply bg-green-100 border-green-100 text-green-500;
    }
  }

  &.button-danger {
    @apply bg-red-500 border-red-500 text-white;

    &:hover {
      @apply bg-red-100 border-red-100 text-red-500;
    }
  }

  &.button-danger-alt {
    @apply border-red-500 text-red-500;

    &:hover {
      @apply bg-red-100 border-red-100 text-red-500;
    }
  }

  &.button-primary {
    @apply border-red-500 px-6 text-red-500;

    &:hover {
      @apply bg-red-500 shadow-md shadow-red-600/50 text-white;
    }
  }

  &.button-secondary {
    @apply border-gray-400 text-gray-600;

    &:hover {
      @apply bg-gray-50 border-gray-50 shadow-md shadow-white/25 text-black;
    }
  }

  svg {
    @apply mr-2;
  }
}

form,
.form {
  @apply gap-4 grid;
}

/* h1 {
  @apply font-bold mb-4 text-xl text-slate-800;
} */

/* h2 {
  @apply font-bold mb-4 text-xl text-slate-800;
}

h3 {
  @apply font-medium mb-4 text-lg text-slate-800;
} */

#search {
  padding-left: 1em;
  background-color: transparent;
  border: 1px solid rgb(209 213 219);
  outline: none;
  border-radius: 10px;
  width: 50%;
  padding: 6px;
  font-size: 14px;
}

/* input:not([type='checkbox']),
textarea,
select {
  @apply bg-transparent border border-gray-300 outline-none rounded text-sm w-full;

  &#search {
    @apply pl-8;
  }

  &.dark {
    @apply text-gray-300;
  }

  &:active {
    @apply border-gray-300;
  }

  &:disabled {
    @apply bg-gray-200 border-gray-200 cursor-not-allowed text-gray-600;
  }

  &:focus {
    @apply border-gray-300;
  }

  &:hover {
    @apply border-gray-300;
  }
} */

label {
  @apply block font-medium mb-1 text-gray-600 text-left text-xs w-full;

  &.required:after {
    @apply text-red-500;

    content: ' *';
  }
}

#landing {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1245%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(237%2c 28%2c 36%2c 1)'%3e%3c/rect%3e%3cpath d='M17.96 220.8L86.38 260.3L86.38 339.3L17.96 378.8L-50.46 339.3L-50.46 260.3zM428.47 457.8L496.89 497.3L496.89 576.3L428.47 615.8L360.05 576.3L360.05 497.3zM565.3 220.8L633.72 260.3L633.72 339.3L565.3 378.8L496.89 339.3L496.89 260.3zM702.14 220.8L770.56 260.3L770.56 339.3L702.14 378.8L633.72 339.3L633.72 260.3zM770.56 576.3L838.98 615.8L838.98 694.8L770.56 734.3L702.14 694.8L702.14 615.8zM838.98 -16.2L907.39 23.3L907.39 102.3L838.98 141.8L770.56 102.3L770.56 23.3zM1181.07 339.3L1249.48 378.8L1249.48 457.8L1181.07 497.3L1112.65 457.8L1112.65 378.8zM1317.9 339.3L1386.32 378.8L1386.32 457.8L1317.9 497.3L1249.48 457.8L1249.48 378.8zM1454.74 102.3L1523.15 141.8L1523.15 220.8L1454.74 260.3L1386.32 220.8L1386.32 141.8zM1386.32 457.8L1454.74 497.3L1454.74 576.3L1386.32 615.8L1317.9 576.3L1317.9 497.3zM1454.74 576.3L1523.15 615.8L1523.15 694.8L1454.74 734.3L1386.32 694.8L1386.32 615.8z' stroke='rgba(255%2c 255%2c 0%2c 0.16)' stroke-width='2'%3e%3c/path%3e%3cpath d='M10.06 220.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM78.48 260.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM78.48 339.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM10.06 378.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM-58.36 339.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM-58.36 260.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM420.57 457.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM488.99 497.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM488.99 576.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM420.57 615.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM352.15 576.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM352.15 497.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM557.4 220.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM625.82 260.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM625.82 339.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM557.4 378.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM488.99 339.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM488.99 260.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM694.24 220.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM762.66 260.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM762.66 339.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM694.24 378.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM762.66 576.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM831.08 615.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM831.08 694.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM762.66 734.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM694.24 694.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM694.24 615.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM831.08 -16.2 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM899.49 23.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM899.49 102.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM831.08 141.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM762.66 102.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM762.66 23.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM1173.17 339.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM1241.58 378.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM1241.58 457.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM1173.17 497.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM1104.75 457.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM1104.75 378.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM1310 339.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM1378.42 378.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM1378.42 457.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM1310 497.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM1446.84 102.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM1515.25 141.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM1515.25 220.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM1446.84 260.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM1378.42 220.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM1378.42 141.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM1446.84 497.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM1446.84 576.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM1378.42 615.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM1310 576.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM1515.25 615.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM1515.25 694.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM1446.84 734.3 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0zM1378.42 694.8 a7.9 7.9 0 1 0 15.8 0 a7.9 7.9 0 1 0 -15.8 0z' fill='rgba(255%2c 255%2c 0%2c 0.16)'%3e%3c/path%3e%3cpath d='M32.74 -19.52L115.01 27.98L115.01 122.98L32.74 170.48L-49.53 122.98L-49.53 27.98zM32.74 550.48L115.01 597.98L115.01 692.98L32.74 740.48L-49.53 692.98L-49.53 597.98zM197.29 -19.52L279.56 27.98L279.56 122.98L197.29 170.48L115.01 122.98L115.01 27.98zM279.56 122.98L361.84 170.48L361.84 265.48L279.56 312.98L197.29 265.48L197.29 170.48zM197.29 265.48L279.56 312.98L279.56 407.98L197.29 455.48L115.01 407.98L115.01 312.98zM279.56 407.98L361.84 455.48L361.84 550.48L279.56 597.98L197.29 550.48L197.29 455.48zM444.11 122.98L526.39 170.48L526.39 265.48L444.11 312.98L361.84 265.48L361.84 170.48zM444.11 407.98L526.39 455.48L526.39 550.48L444.11 597.98L361.84 550.48L361.84 455.48zM526.39 550.48L608.66 597.98L608.66 692.98L526.39 740.48L444.11 692.98L444.11 597.98zM773.21 407.98L855.49 455.48L855.49 550.48L773.21 597.98L690.94 550.48L690.94 455.48zM855.49 265.48L937.76 312.98L937.76 407.98L855.49 455.48L773.21 407.98L773.21 312.98zM855.49 550.48L937.76 597.98L937.76 692.98L855.49 740.48L773.21 692.98L773.21 597.98zM1020.04 -19.52L1102.31 27.98L1102.31 122.98L1020.04 170.48L937.76 122.98L937.76 27.98zM1266.86 407.98L1349.14 455.48L1349.14 550.48L1266.86 597.98L1184.59 550.48L1184.59 455.48zM1184.59 550.48L1266.86 597.98L1266.86 692.98L1184.59 740.48L1102.31 692.98L1102.31 597.98zM1431.41 407.98L1513.69 455.48L1513.69 550.48L1431.41 597.98L1349.14 550.48L1349.14 455.48zM1349.14 550.48L1431.41 597.98L1431.41 692.98L1349.14 740.48L1266.86 692.98L1266.86 597.98z' stroke='rgba(255%2c 255%2c 0%2c 0.26)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1245'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

.price {
  @apply before:content-["£"] font-medium;

  .quantity {
    @apply ml-2 text-gray-500 text-sm;
  }

  &.sale {
    @apply text-gray-400;

    .sale_price {
      @apply before:content-["£"] bg-red-100 decoration-0 ml-1 px-2 rounded text-red-500;
    }
  }
}